{% extends "base.html" %} {% block content %}
<div id="all">
    <div id="content">
        <div class="container">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/productos">Producto</a>
                    </li>
                    <li>Detalle</li>
                </ul>
            </div>
            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div class="row" id="productMain">
                    <div class="col-sm-6">
                        <div id="mainImage">
                            <img src="{{imagen}}" alt="" class="img-responsive">
                        </div>

                        <div class="ribbon sale">
                            <div class="theribbon">SALE</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon -->

                        <div class="ribbon new">
                            <div class="theribbon">NEW</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon -->

                    </div>
                    <div class="col-sm-6">
                        <div class="box">
                            <h1 class="text-center">{{nombre}}</h1>
                            <p class="goToDescription">
                                <a href="#details" class="scroll-to">Ver detalles producto</a>
                            </p>
                            <p class="price">${{precio}}</p>

                            <p class="text-center buttons">
                                <a href="/agregarProductoAlCarro?id={{id}}" class="btn btn-primary">
                                    <i class="fa fa-shopping-cart"></i> Add to cart</a>
                            </p>


                        </div>

                        <div class="row" id="thumbs">
                            <div class="col-xs-4">
                                <a href="{{imagen}}" class="thumb">
                                    <img src="{{imagen}}" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-xs-4">
                                <a href="{{imagen}}" class="thumb">
                                    <img src="{{imagen}}" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-xs-4">
                                <a href="{{imagen}}" class="thumb">
                                    <img src="{{imagen}}" alt="" class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="box" id="details">
                    <p>
                        <h4>Detalles del producto</h4>
                        <p>{{detalle_producto}}</p>
                        <h4>Stock</h4>
                        <p>{{stock}}</p>
                        <blockquote>
                            <p>
                                <em>Define style this season with Armani's new range of trendy tops, crafted with intricate details.
                                    Create a chic statement look by teaming this lace number with skinny jeans and pumps.</em>
                            </p>
                        </blockquote>

                        <hr>
                        <div class="social">
                            <h4>Show it to your friends</h4>
                            <p>
                                <a href="#" class="external facebook" data-animate-hover="pulse">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="external gplus" data-animate-hover="pulse">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="#" class="external twitter" data-animate-hover="pulse">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" class="email" data-animate-hover="pulse">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </p>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col-md-9 -->
</div>
<!-- /.container -->
</div>
<!-- /#content -->

{% endblock %}