{% extends "base.html" %} 
{% block content %}
    <div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-12">

                    <ul class="breadcrumb">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>New account / Sign in</li>
                    </ul>

                </div>

                <div class="col-md-6">
                    <div class="box">
                        <h1>New account</h1>

                        <p class="lead">Not our registered customer yet?</p>
                        <p>With registration with us new world of fashion, fantastic discounts and much more opens to you! The
                            whole process will not take you more than a minute!</p>
                        <p class="text-muted">If you have any questions, please feel free to
                            <a href="contact.html">contact us</a>, our customer service center is working for you 24/7.</p>

                        <hr>

                        <form action="/registro" method="post">
                            <div class="form-group">
                                <label for="name">Nombre</label>
                                <input type="text" name="nombres" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="name">Apellidos</label>
                                <input type="text" name="apellidos" class="form-control" id="apellidos">
                            </div>
                            <div class="form-group">
                                <label for="name">Rut:</label>
                                <input type="text" name="rut" class="form-control" id="rut">
                            </div>
                            <div class="form-group">
                                <label for="email">Dirección</label>
                                <input type="text" name="direccion" class="form-control" id="direccion">
                            </div>
                            <div class="form-group">
                                <label for="email">Comuna</label>
                                <select name="comuna" class="form-control" id="comuna">
                                    {% for row in comunas %}
                                    <option value="{{row.id_comuna}}">{{row.nombre_comuna}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" name="email" class="form-control" id="email">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password" class="form-control" id="password">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-user-md"></i>Registrar</button>
                            </div>
                        </form>
                    </div>
                    {% if message %}
                    <script type="text/javascript">
                        $(window).on('load', function () {
                            $('#error').modal('show');
                        });
                    </script> {% endif%}
                    <div class="modal fade" id="error" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-body">
                                {% if message %}
                                <div class="col-md-12">
                                    <div class="alert alert-danger">
                                        <strong>{{ message }}</strong>
                                    </div>
                                </div>
                                {% endif%}
                            </div>
                        </div>
                    </div>
                  
                </div>
                <div class="col-md-6">
                    <div class="box">
                        <h1>Login</h1>

                        <p class="lead">Already our customer?</p>
                        <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum
                            tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
                            egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

                        <hr>

                        <form action="/" method="post">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" name="email" class="form-control" id="email">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password" class="form-control" id="password">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-sign-in"></i> Log in</button>
                            </div>
                        </form>
                    </div>
                </div>
                

            </div>

            <!-- /.container -->
        </div>
        <!-- /#content -->

{% endblock %}